<ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="epis">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Epis</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="ferramentas">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Ferramentas</ion-label>
          </ion-tab-button>
           <ion-tab-button tab="historico">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Histórico</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
