.toolbar-title {
  color: #FFFFFF !important;
  text-align: center;
  }

.toolbar-background {
  background: rgb(237,50,55);
  background: linear-gradient(61deg, rgba(237,50,55,1) 0%, rgba(156,33,36,1) 57%, rgba(47,47,47,1) 98%) !important;
}
