<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                1x Chave 1
                <p>Código 3221</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                4x Parafusos
                <p>Código 4503</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
