<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                02/07/2019 ás 07:30
                <p>Ordem aberta por Iago</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                02/07/2019 ás 08:30
                <p>Ordem de manutenção iniciada por Richard</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
    