<ion-app>
  <ion-content *ngFor="let item of serviceValue">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
              <ion-card-header>
                <ion-slides pager="true" [options]="slideOpts">
                  <ion-slide class="slide">
                    Local de instalação: {{ item.local }}<br><br>
                    Equipamento: {{ item.equipamento }}<br><br>
                    Grupo Planejado PM: {{ item.grupo_planejado }}<br><br>
                    Responsável pela Ordem: {{ item.responsavel_ordem }} <br><br>
                    Tipo de Manutenção: {{ item.tipo_manutencao }}<br><br>
                    Requer Parada: {{ item.requer_parada }}<br><br>
                    Código ABC: {{ item.codigo_abc }}<br><br>
                  </ion-slide>
                  <ion-slide class="slide">
                    Inicio Planejado: {{ item.inicio_planejado }}<br><br>
                    Fim Planejado: {{ item.fim_planejado }}<br><br><br>
                    Inicio Programado: {{ item.inicio_programado }} <br><br>
                    Fim Programado: {{ item.fim_programado }}<br><br><br>
                    Data de Emissão: {{ item.data_emissao }}
                  </ion-slide>
                </ion-slides>
              </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="danger"><ion-icon name="close"></ion-icon></ion-fab-button>
        <ion-fab-button color="success"><ion-icon name="checkmark"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
</ion-app>
